---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
hide_title: true
---

<div class="publications-page">

  <p class="publications-intro">
    You can also find my publications on <a href="https://scholar.google.com/citations?user=xV3XGbwAAAAJ&hl=en">my Google Scholar profile</a>.
  </p>

  {% include base_path %}

  {% if site.publication_category %}
    {% for category in site.publication_category %}
      {% assign title_shown = false %}
      {% assign category_posts = site.publications | where: "category", category[0] | sort: "title" | sort: "date" | reverse %}

      {% for post in category_posts %}
        {% unless title_shown %}
          <h2 class="publication-category">{{ category[1].title }}</h2>
          {% assign title_shown = true %}
        {% endunless %}

        {% include archive-single.html %}
      {% endfor %}
    {% endfor %}

  {% else %}

    {% assign sorted_posts = site.publications | sort: "title" | sort: "date" | reverse %}

    {% for post in sorted_posts %}
      {% include archive-single.html %}
    {% endfor %}

  {% endif %}

</div>
