---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<div class="wordwrap" style="margin-top: 0.25rem; margin-bottom: 2rem; font-size: 0.95rem;">
  You can also find my articles on <a href="https://scholar.google.com/citations?user=xV3XGbwAAAAJ&hl=en">my Google Scholar profile</a>.
</div>

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% assign category_posts = site.publications | where: "category", category[0] | sort: "title" | sort: "date" | reverse %}
    {% for post in category_posts %}
      {% unless title_shown %}
        <h2 style="text-transform: uppercase; margin-top: 2.0rem !important; margin-bottom: 0.3rem !important; font-size: 1.1rem !important; letter-spacing: 0.05em; border-bottom: none;">{{ category[1].title }}</h2>
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% assign sorted_posts = site.publications | sort: "title" | sort: "date" | reverse %}
  {% for post in sorted_posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
