{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | strip_html %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    
    <!-- Title -->
    <div style="font-size: 0.95rem; font-weight: bold; color: #222; line-height: 1.2; margin-top: 0.85rem; margin-bottom: 2px;">
      {% if post.link %}
        <a href="{{ post.link }}" style="color: inherit; text-decoration: none;">{{ title }}</a>
      {% elsif post.paperurl %}
        <a href="{{ post.paperurl }}" style="color: inherit; text-decoration: none;">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </div>

    <!-- Indented Publication Info -->
    <div style="margin-top: 0px; padding-top: 0px; line-height: 1.25; font-size: 0.9rem; padding-left: 1.25rem; color: #444;">
      {% if post.citation %}
        <p style="margin: 0;">Published in {{ post.citation }}{% if post.paperurl %} [<a href="{{ post.paperurl }}"><u>DOI</u></a>]{% endif %}</p>
      {% elsif post.excerpt and post.excerpt != "" %}
        <p style="margin: 0;">{{ post.excerpt | markdownify }}</p>
      {% elsif post.paperurl %}
        <p style="margin: 0;">[<a href="{{ post.paperurl }}"><u>DOI</u></a>]</p>
      {% endif %}
    </div>

  </article>
</div>
